<div data-extend-template="templates/layout-data.html">
  <div data-block="botonera" ng-controller="BotoneraCtrl as botonera">
    <div class="row">
      <div class="col-lg-4 titulo">
        <h1>Resultados</h1>
      </div>
      <div class="col-lg-8 acciones">
        <button type="button" class="btn btn-primary // boton.cParNombre.clase //" ng-repeat="boton in dataBotonera()" ng-click="accionar(boton.cParNombre.clase)">
          <span class="// boton.cParNombre.icono // icono"></span>
          <span class="nombre">// boton.cParNombre.nombre //</span>
        </button>
      </div>
    </div>
  </div>
  <div data-block="registros" ng-controller="RegistrosCtrl as registros">
    <div class="cont-registros">
      <div class="panel pane-default">
        <div class="panel-heading">
          <span class="titulo">Registros</span>
        </div>
        <table class="table table-striped tbl-registros">
          <tr class="tbl-busqueda">
            <td></td>
            <td ng-repeat="campo in dataCamposVista()">
              <input type="text" placeholder="// campo.titulo //" ng-model="camposBusqueda()[campo.nombre]" ng-change="buscar()">
            </td>
          </tr>
          <tr class="tbl-cabecera">
            <th>N°</th>
            <th ng-repeat="campo in dataCamposVista()">// campo.titulo //</th>
          </tr>
          <tr ng-repeat="registro in dataRegistros()" ng-click="seleccionarRegistro(registro)" class="tbl-fila" ng-class="{selected: registro.selected}">
            <td>// registro.index //</td>
            <td ng-repeat="campo in dataCamposVista()">
            <div ng-if="campo.type != 'date'">// registro[campo.nombre] //</div>
            <div ng-if="campo.type == 'date'">
                // registro[campo.nombre] | date: 'dd-MM-yyyy' //
              </div>
            </td>
          </tr>
        </table>
        <div class="row paginador" ng-controller="PaginadorCtrl as paginador">
          <div class="col-lg-6">
            <span class="info">// generarTextoPaginacion(dataRegistros()) //</span>
          </div>
          <div class="col-lg-6">
            <ul class="pagination">
              <li ng-repeat="boton in dataPaginador()">
                <a href=""ng-click="paginar(boton)" ng-class="{activo: boton.activo}">// boton.texto //</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>